* {
    font-family: "Futura";
}

:root {
    --primary: #900C3F;
    --secondary: #C70039;
    --tertiary: #DAF7A6;
    --quaternary: #FF5733;
}

.centered {
    margin: auto;
    width: 50%;
    text-align: center;
}

.break-line {
    height: 1px;
    max-width: 50%;
    background-color: #555;
    margin: 0 auto;
}

header {
    display: inline-block;
    margin-left: 3%;
}

h1 {
    font-size: 50px;
}

p {
    text-indent: 2em;
}

#sub-title {
    font-weight: thin;
    margin-top: -7%;
    margin-left: 50%;
}

#builds-logo {
    max-width: 40px;
    max-height: auto;
    image-rendering: auto;
}

#topright-logo {
    max-width: 125px;
    max-height: auto;
    position: relative;
    float: right;
    margin-left: 10px;
    margin-top: -140px;
    transform: rotate(45deg);
}

/* =================  NAV BAR  ===================== */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    overflow: hidden;
}

li.nav-item {
    float: left;
    align-items: center;
}

li.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav-item a:hover {
    background-color: var(--secondary);
}

li.green-hover a:hover{
    background-color: var(--tertiary);
    color: var(--primary);
}
/* ===================================================== */

/* =================  BUILDS BAR  ====================== */
ul.builds-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--secondary);
    overflow: hidden;
}

li.builds-item {
    padding-left: 4%;
    float: left;
    align-items: center;
}

li.builds-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.builds-item a:hover {
    background-color: var(--primary);
}

li.builds-name a:hover {
    background-color: var(--secondary);
}
/* ===================================================== */